<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <br>

  <div class="field"><br>
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div><br>

  <div class="field">
    <%= f.label :name, '名前' %><br />
    <%= f.text_field :name, placeholder:'学校太郎', autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder:'(例)t-talk@school.com', autofocus: true, autocomplete: "email" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :password（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :birth, '生年月日' %><br />
    <%= f.text_field :birth, placeholder:'(例)2022年1月1日', autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :gender, '性別' %><br />
    <%= f.collection_radio_buttons :gender, User.genders_i18n, :first , :last do |b|%>
      <%= b.label(class: "mr-5") { b.radio_button(class: "form-check-input") + b.text }%>
    <%end %>
  </div>
  <br>
  <div class="field">
    <%= f.label :affiliation, '所属校' %><br />
    <%= f.text_field :affiliation, placeholder:'(例) ○○県××市立△△小学校', autofocus: true %>
  </div><br>

  <div class='field'>
    <%= "校務分掌" %><br>
    <%= f.collection_check_boxes(:position_ids, Position.all, :id, :name) do |position| %>
            <%= position.label class: 'form-check-label' do %>
                <%= position.check_box class: 'form-check-input' %>
                <%= position.text %>
            <% end %>
    <% end %>
  </div><br>


  <div class="field">
    <%= f.label :job_title, '職名' %><br />
    <%= f.select :job_title, User.job_titles.keys.map {|k| [I18n.t("enums.user.job_title.#{k}"),k]}%>
  </div>
  
  <br>
  <div class="field">
    <%= f.label :career, '教員歴' %><br />
    <%= f.select :career, User.careers.keys.map {|k| [I18n.t("enums.user.career.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :responsible, '主な校務分掌' %><br />
    <%= f.text_field :responsible, placeholder:'校務分掌がない場合は”なし”とご入力ください。', autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :subject, '担当教科（主任）' %><br />
    <%= f.select :subject, User.subjects.keys.map {|k| [I18n.t("enums.user.subject.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :grade, '担当学年' %><br />
    <%= f.select :grade, User.grades.keys.map {|k| [I18n.t("enums.user.grade.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :other, 'その他' %><br />
    <%= f.collection_radio_buttons :other, User.others_i18n, :first , :last do |b|%>
      <%= b.label(class: "mr-5") { b.radio_button(class: "form-check-input") + b.text }%>
    <%end %>
  </div>

  <div class="field"><br>
    <%= f.label :introduction, "自己紹介" %><br/>
    <%= f.text_area :introduction, placeholder:'(例)よろしくお願いします！' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
