<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <br>

  <div class="field"><br>
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div><br>

  <div class="field">
    <%= f.label :name, '名前' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :password（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <br>
  <div class="field">
    <%= f.label :birth, '生年月日' %><br />
    <%= f.text_field :birth, autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :gender, '性別' %><br />
    <%= f.select :gender, User.genders.keys.map {|k| [I18n.t("enums.user.gender.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :affiliation, '所属校' %><br />
    <%= f.text_field :affiliation, autofocus: true %>
  </div><br>

  <div class='field'>
    <%= "校務分掌" %><br>
    <%= f.collection_check_boxes(:position_ids, Position.all, :id, :name) do |position| %>
            <%= position.label class: 'form-check-label' do %>
                <%= position.check_box class: 'form-check-input' %>
                <%= position.text %>
            <% end %>
    <% end %>
  </div><br>


  <div class="field">
    <%= f.label :job_title, '職名' %><br />
    <%= f.select :job_title, User.JobTitles.keys.map {|k| [I18n.t("enums.user.JobTitle.#{k}"),k]}%>
  </div>
  
  <br>
  <div class="field">
    <%= f.label :career, '教員歴' %><br />
    <%= f.select :career, User.careers.keys.map {|k| [I18n.t("enums.user.career.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :responsible, '主な校務分掌' %><br />
    <%= f.text_field :responsible, autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :subject, '担当教科（主任）' %><br />
    <%= f.select :subject, User.subjects.keys.map {|k| [I18n.t("enums.user.subject.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :grade, '担当学年' %><br />
    <%= f.select :grade, User.grades.keys.map {|k| [I18n.t("enums.user.grade.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :other, 'その他' %><br />
    <%= f.select :other, User.others.keys.map {|k| [I18n.t("enums.user.other.#{k}"),k]}%>
  </div>

  <div class="field"><br>
    <%= f.label :introduction, "自己紹介" %><br/>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
