<%= form_with model: @user, url: user_path, local: true do |f| %>
   <div class="field"><br>
    <% if @user.image? %>
      <%= image_tag @user.image.url %><br>
    <% end %>
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div><br>

  <div class="field">
    <%= f.label :name, '名前' %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :birth, '生年月日' %><br />
    <%= f.text_field :birth, autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :gender, '性別' %><br />


    <%= f.collection_radio_buttons :gender, User.genders_i18n, :first , :last do |b|%>
      <%= b.label(class: "mr-5") { b.radio_button(class: "form-check-input") + b.text }%>
    <%end %>



  </div>

  <br>
  <div class="field">
    <%= f.label :affiliation, '所属校' %><br />
    <%= f.text_field :affiliation, autofocus: true, required: true %>
  </div><br>

  <div class='field'>
    <%= "校務分掌" %><br>
    <%= f.collection_check_boxes(:position_ids, Position.all, :id, :name) do |position| %>
            <%= position.label class: 'form-check-label' do %>
                <%= position.check_box class: 'form-check-input' %>
                <%= position.text %>
            <% end %>
    <% end %>
  </div><br>


  <div class="field">
    <%= f.label :job_title, '職名' %><br />
    <%= f.select :job_title, User.job_titles.keys.map {|k| [I18n.t("enums.user.job_title.#{k}"),k]}%>
  </div>
  
  <br>
  <div class="field">
    <%= f.label :career, '教員歴' %><br />
    <%= f.select :career, User.careers.keys.map {|k| [I18n.t("enums.user.career.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :responsible, '主な校務分掌' %><br />
    <%= f.text_field :responsible, autofocus: true %>
  </div>

  <br>
  <div class="field">
    <%= f.label :subject, '担当教科（主任）' %><br />
    <%= f.select :subject, User.subjects.keys.map {|k| [I18n.t("enums.user.subject.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :grade, '担当学年' %><br />
    <%= f.select :grade, User.grades.keys.map {|k| [I18n.t("enums.user.grade.#{k}"),k]}%>
  </div>

  <br>
  <div class="field">
    <%= f.label :other, 'その他' %><br />
    <%= f.select :other, User.others.keys.map {|k| [I18n.t("enums.user.other.#{k}"),k]}%>
  </div>

  <div class="field"><br>
    <%= f.label :introduction, "自己紹介" %><br/>
    <%= f.text_area :introduction %>
  </div>

   <%= f.submit "更新", class: "btn btn-primary"%>
   <button><%= link_to "投稿一覧に戻る", root_path %></button>
<%end%>