<div class="main">
    <div class="inner">
      <div class="user__wrapper">
        <h2 class="page-heading">
          <%= @user.name + "さんの情報" %>
          <%= render partial: "relationships/follow_button", user: @user %><br>
         
          <td>フォロー数:  <%= link_to @user.followings.count, followings_user_path(@user) %></td>
          <td>フォロワー数:  <%= link_to @user.followers.count, followers_user_path(@user) %></td><br>

          <%= link_to "ログイン情報編集", edit_user_registration_path(@user) %><br>
          <%= link_to "プロフィール情報編集", edit_user_path(@user) %><br>
          <p><%=link_to"お気に入り記事",likes_user_path(@user) %></p>
          <%=link_to "下書き一覧", confirms_user_path(@user) %><br>


          <% unless @user.id == current_user.id %>
            <% if @haveRoom == true %> 
              <%= link_to "ダイレクトメッセージ", room_path(@roomId) %>
            <% else %>
              <%= form_with model: @room, local: true do |f|%> 
                <%= fields_for @RoomUser do |room| %>
                  <%= room.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "チャットを始める" %>
              <% end %>
            <% end %>
          <% end %>
        



        </h2>
          <% if @user.image? %>
            <%= image_tag @user.image.url, size: '415x415' %>
          <% end %>

        <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">名前</th>
              <td class="table__col2"><%= @user.name %></td>
            </tr>
            <tr>
              <th class="table__col1">所属校</th>
              <td class="table__col2"><%= @user.affiliation %></td>
            </tr>
            <tr>
              <th class="table__col1">職名</th>
              <td class="table__col2"><%= @user.job_title %></td>
            </tr>
            <tr>
              <th class="table__col1">教員歴</th>
              <td class="table__col2"><%= @user.career %></td>
            </tr>
            <tr>
                <th class="table__col1">校務分掌</th>
                <td class="table__col2"><%= @user.responsible %></td>
              </tr>            <tr>
                <th class="table__col1">担当教科</th>
                <td class="table__col2"><%= @user.subject %></td>
              </tr>
              <tr>
                <th class="table__col1">担当学年</th>
                <td class="table__col2"><%= @user.grade %></td>
              </tr>
              <tr>
                <th class="table__col1">自己紹介</th>
                <td class="table__col2"><%= @user.introduction %></td>
              </tr>
          </tbody>
        </table>



        <h2 class="page-heading">
          <%= @user.name + "さんの投稿"%>
        </h2>
        <div class="user__card">


          <% @published_posts.each do |post| %>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                <% if post.image? %>  <!-- アップロード画像がある場合に実行する -->
                    <img class="card-img-top">
                    <%= image_tag post.image.url %>
                <% end %>
                <div class="card-body">
                    <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                    <p class="card-text"><%= post.title %></p>
                    <p class="card-text"> <%= post.content %></p>
                    <%= link_to "by " + post.user.name, user_path(post.user) %>
                    <ul>
                        <% post.tags.each do |tag| %>
                        <li><%= tag.name %></li>
                        <% end %>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                        <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "編集", edit_post_path(post.id) %></button>
                        <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                    <small class="text-muted">9分</small>
                    </div>
                </div>
                </div>
            </div>
          <% end %>
          <button><%= link_to "投稿一覧に戻る", root_path %></button>



        </div>
      </div>
    </div>
  </div>