<div>
  <%= "T_talk" %>  <%= "T_talk" %>
  <%= "T_talk" %>
  <%= "T_talk" %><br>


  <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
      <div> 
          <%= current_user.name + "さん、ようこそ" %>
      </div>
      <div><%= link_to "マイページ", user_path(current_user.id) %></div>
      <button><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
      <% else %>
        <button><%= link_to "新規登録", new_user_registration_path %></button>
        <button><%= link_to "ログイン", new_user_session_path %></button>
      <% end %>
  </div><br>

  <div class="post">
    <% @notices.first(3).each do |notice| %>
      <div class="post-body">
        <h2>お知らせ</h2>
        <h4 class="post-title"><%= notice.title %></h4>
        <p class="post-text"><%= notice.content %></p>
        <p class="post-time"><small><%= notice.created_at.strftime('%Y.%m.%d') %></small></p>
      </div>
    <% end %>
  </div>
  
  <div>
    <button><%= link_to "新規投稿", new_post_path %></button>
  </div><br>
  
  <h3>タグ検索</h3>
    <div>
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
          <% Tag.all.each do |t| %>
              <li><%= check_box :tag_ids, t.name %><%= t.name %></li>
          <% end %>
          <%= submit_tag '検索' %>
      <% end %><br>
      <button><%= link_to "検索リセット", root_path %></button>
    </div><br>
    

    <h3>投稿を検索</h3>
    <div class="search-form">
      <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
      <%= form.text_field :keyword %>
      <%= form.submit "検索" %>
    <% end %>
    </div><br>
  
  
  <h3>投稿一覧</h3>
  <div class="container">
    <div class="row">
      
      <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <% if post.image? %>  <!-- アップロード画像がある場合に実行する -->
            <img class="card-img-top">
            <%= image_tag post.image.url, size: '415x415' %>
          <% end %>
          <div class="card-body">
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
            <p class="card-text"><%= post.title %></p>
            <p class="card-text"> <%= post.content %></p>
            <%= link_to "by " + post.user.name, user_path(post.user) %>
            <ul>
                <% post.tags.each do |tag| %>
                  <li><%= tag.name %></li>
                <% end %>
              </ul>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                <button type="button" class="btn btn-sm btn-outline-secondary"><%= link_to "詳細", post_path(post.id) %></button>
                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                </button>
              </div>
              <!-- <small class="text-muted">9 mins</small> -->
              <small class="text-muted">9分</small>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>