
<div>
    <p>
      <%= @post.title %>
    </p>
    <%= link_to "by" + @post.user.name, root_path %>
      <div>
        <%= link_to "編集する", edit_post_path(@post) %>
        <%= link_to "削除する", post_path(@post), method: :delete %>
      </div>
      <ul>
      <% @post.tags.each do |tag| %>
        <li><span><%= tag.name %></span></li>
      <% end %>
      </ul>
    
      <div>
        <p>タイトル</p>
        <p>
          <%= @post.title %>
        </p>
      </div>

      <div>
        <p>画像</p>
        <% if @post.image? %>  <!-- アップロード画像がある場合に実行する -->
          <p>
          <%= image_tag @post.image.url, size: '320x240' %><!-- userインスタンスの画像ファイルのURLを取得し表示 -->
          </p>
        <% end %>
      </div>

        <div>
          <p>内容</p>
          <p>
            <%= @post.content %>
          </p>
        </div>

        <h3>コメント一覧</h3>
        <% @comments.each do |c| %>
          <%= c.comment_content %><br>
          <% if user_signed_in? %>  
            <% if current_user.id == c.user_id %>  
              <%= link_to "編集", edit_post_comment_path(@post, c) %> 
              <%= link_to "削除", post_comment_path(@post, c), method: :delete %>  
            <% elsif current_user.id == @post.user_id then %>  
              <%= link_to "削除", post_comment_path(@output, c), method: :delete %> 
            <% end %> <br>
          <% end %>
        <% end %>
        
        <% if user_signed_in? %>
          <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :comment_content, placeholder: "コメントする" %><br>
            <%= f.label :status, '公開/非公開' %><br />
            <%= f.label :status, :"公開" %>
            <%= f.radio_button :status, :open %>
            <%= f.label :status, :"非公開" %>
            <%= f.radio_button :status, :hidden %><br>
            <%= f.submit "SEND" %>
          <% end %>
        <% end %><br>

        <button><%= link_to "投稿一覧に戻る", root_path %></button>